section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
		"r1c1 r1c1 r1c1 r1c1"
		"r1c1 r1c1 r1c1 r1c1"
    "r3c1 r3c2 r3c3 r3c3"
    "r4c1 r4c2 r3c3 r3c3"
    "r5c1 r5c2 r5c3 r5c4"
    "r6c1 r6c2 r6c3 r6c4"
    "r7c1 r7c2 r7c3 r7c4"
    "r8c1 r8c2 r8c3 r8c4";
    margin: 64px 24px 24px 24px;
    height: 100vh;
    gap: 32px 16px;
}

div:first-child {
	grid-area: r1c1;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(2) {
	grid-area: r3c1;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(3) {
	grid-area: r3c2;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(4) {
	grid-area: r4c1;
  border-radius: 20px;
  border-style: solid;
  background: #1982FC;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

div:nth-child(5) {
	grid-area: r4c2;
  border-radius: 20px;
  border-style: solid;
  background: #43CC47;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

div:nth-child(6) {
	grid-area: r3c3;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(7) {
	grid-area: r5c1;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(8) {
	grid-area: r5c2;
  border-radius: 20px;
  border-style: solid;
  background: #1982FC;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

div:nth-child(9) {
	grid-area: r5c3;
  border-radius: 20px;
  border-style: solid;
  background-color: #43CC47;
  text-align: center;
  position: relative;
  vertical-align: middle;
}

div:nth-child(10) {
	grid-area: r5c4;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(11) {
	grid-area: r6c1;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(12) {
	grid-area: r6c2;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(13) {
	grid-area: r6c3;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(14) {
	grid-area: r6c4;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(15) {
	grid-area: r7c1;
}

div:nth-child(16) {
	grid-area: r7c2;
}

div:nth-child(17) {
	grid-area: r7c3;
}

div:nth-child(18) {
	grid-area: r7c4;
}

div:nth-child(19) {
	grid-area: r8c1;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(20) {
	grid-area: r8c2;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(21) {
	grid-area: r8c3;
  border-radius: 20px;
  border-style: solid;
}

div:nth-child(22) {
	grid-area: r8c4;
  border-radius: 20px;
  border-style: solid;
}

#one {
  position: absolute;
  font-family: helvetica;
  color: white;
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  left: 0px;
  display: flex;
  align-items:center;
  justify-content:center;
  transform: rotate(-180deg);
}

#two {
  position: absolute;
  font-family: helvetica;
  color: white;
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  left: 0px;
  display: flex;
  align-items:center;
  justify-content:center;
  transform: rotate(-90deg);
}

#three {
  position: absolute;
  font-family: helvetica;
  color: white;
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  left: 0px;
  display: flex;
  align-items:center;
  justify-content:center;
}

#four {
  position: absolute;
  font-family: helvetica;
  color: white;
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  left: 0px;
  display: flex;
  align-items:center;
  justify-content:center;
  transform: rotate(-180deg);
}
